<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>
<body>

<div class="container">

    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% endif %}

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>📊 AI Business</h2>

        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="{% url 'upload' %}">Upload Data</a></li>
            <li><a href="{% url 'preview' %}">Data Preview</a></li>
            <li><a href="{% url 'ai_insights' %}">AI Insights</a></li>
            <li><a href="{% url 'forecast' %}">Forecast</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
            <li>
                <a href="#" id="logoutBtn">Logout</a>
            </li>

        </ul>
    </div>

    <!-- Main Content -->
    <div class="main">

        <div class="header">
            <h1>📊 AI Business Analytics Dashboard</h1>
            <p>Welcome back! Here's your latest business analytics overview.</p>
        </div>

        <!-- KPI Cards -->
        <div class="cards">

            <div class="card">
                <h3>Total Revenue</h3>
                <p>₹{{ total_revenue }}</p>
            </div>

            <div class="card">
                <h3>Total Sales QTY</h3>
                <p>{{ total_sales }}</p>
            </div>

            <div class="card">
                <h3>Products</h3>
                <p>{{ total_products }}</p>
            </div>

            <div class="card">
                <h3>Growth</h3>
                <p>18%</p>
            </div>

        </div>

        <!-- Charts Section -->
        <div class="charts">

            <div class="chart-box">
                <canvas id="revenueChart"></canvas>
            </div>

            <div class="chart-box">
                <canvas id="productChart"></canvas>
            </div>

        </div>

        <!-- Second Row Charts -->
        <div class="charts">

            <div class="chart-box">
                <canvas id="categoryChart"></canvas>
            </div>

            <div class="chart-box">
                <canvas id="monthlyChart"></canvas>
            </div>

        </div>


    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{ chart_labels|json_script:"chart-labels" }}
{{ chart_values|json_script:"chart-values" }}

{{ product_labels|json_script:"product-labels" }}
{{ product_values|json_script:"product-values" }}

{{ category_labels|json_script:"category-labels" }}
{{ category_values|json_script:"category-values" }}

{{ monthly_labels|json_script:"monthly-labels" }}
{{ monthly_values|json_script:"monthly-values" }}

<script>
    const logoutUrl = "{% url 'logout' %}";
</script>

<script src="{% static 'js/dashboard.js' %}"></script>

</body>
</html>