<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body>

    <div class="upload-container">
        <h2>📊 Upload Business Data</h2>
        <p>Upload your Excel or CSV file to generate analytics dashboard.</p>

        {% if success %}
            <div class="success-message">{{ success }}</div>
        {% endif %}

        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" name="datafile" accept=".csv,.xlsx" required>

            <button type="submit">Upload File</button>
        </form>

        {% if preview %}
            <h3>Data Preview</h3>
            <div class="table-container">
                {{ preview|safe }}
            </div>

<!--            <a href="{% url 'dashboard' %}" class="dashboard-btn">-->
<!--                Generate Dashboard-->
<!--            </a>-->
        {% endif %}

        {% if columns %}

        <h3>Select Columns</h3>

        <form action="{% url 'dashboard' %}" method="POST">

    {% csrf_token %}

    <label>Revenue Column</label>

            <select name="revenue">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>

            <br><br>

            <label>Sales Column</label>

            <select name="sales">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>

            <br><br>

            <label>Product Column</label>

            <select name="product">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>

            <br><br>

            <label>Date Column</label>

            <select name="date">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>

            <br><br>

            <button type="submit">
                Generate Dashboard
            </button>

        </form>

        {% endif %}

    </div>
</body>
</html>